/*
  —пециально дл€ тЄмной темы при наличии класса,
  здесь окажутс€ стили, которые нужно переопределить принудительно,
  переключа€ тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведЄнном виде.
    “ак стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользовател€
  */
}

.theme-dark .page {
  /* ¬ам также нужно будет написать р€д подобных селекторов */
}