/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex Mono';
  background-color: var(--contrast-color);
  background-image: var(--header-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--indent);
  color: var(--accent-color);
  height: 100vh;
  min-height: 668px;
}

.header__deco {
  position: absolute;
  top: var(--indent);
  right: calc(var(--indent) + 10px);
}

.header__deco::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(1px);
  margin-inline-start: 10px;
}

.header__theme-menu::before {
  content: "";
  position: absolute;
  right: var(--indent);
  top: var(--indent);
  width: 25px;
  height: 25px;
  border-inline-end: thin solid var(--accent-color);
  border-block-start: thin solid var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  line-height: 18px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: thin solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: thin solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: thin solid var(--accent-color);
}

.header__title {
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  block-size: min-content;
  justify-self: center;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.header__description::after { 
  content: "";
  position: absolute;
  left: var(--indent);
  bottom: var(--indent);
  width: 25px;
  height: 25px;
  border-inline-start: thin solid var(--accent-color);
  border-block-end: thin solid var(--accent-color);
}

.main-content {
  padding: var(--main-indent) var(--indent);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--main-gap);
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: var(--main-section-gap);
}

.main__section__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
}

.main__section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-text-color);
  padding-block-start: var(--indent);
}

.less-bold {
  font-weight: 400;
}

.link-deco {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link-deco:hover {
  text-decoration: underline;
}

.link-deco:focus {
  outline: none;
}

.link-deco:focus-visible {
  outline: thin solid var(--accent-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.gallery-item {
  padding-block-start: var(--indent);
  max-width: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--indent);
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  grid-row: 2/3;
  justify-self: center;
}

.footer__title::before {
  content: "";
  position: absolute;
  right: var(--indent);
  top: var(--indent);
  width: 25px;
  height: 25px;
  border-inline-end: thin solid var(--accent-color);
  border-block-start: thin solid var(--accent-color);
}

.footer__title::after {
  content: "";
  position: absolute;
  left: var(--indent);
  bottom: var(--indent);
  width: 25px;
  height: 25px;
  border-inline-start: thin solid var(--accent-color);
  border-block-end: thin solid var(--accent-color);
}

@media (min-width: 768px) {
  .header,
  .footer {
    min-height: 1024px;
  }

  .main__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: var(--indent);
  }

  .main__section__title {
    grid-column: 1/2;
    grid-row: 1;
  }

  .main__section__content {
    grid-column: 2/4;
    grid-row: auto;
  }

  .main__section:nth-last-child(1) {
    display: block;
  }

  .middle-section {
    grid-column: auto;
    grid-row: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr auto;
    column-gap: var(--indent);
  }

  .gallery-item {
    display: block;           
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery-item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1/2;
  }

  .gallery-item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery-item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

@media (min-width: 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .header__theme-menu {
    margin-block-start: 0px;
    margin-block-end: 273px;
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description {
    max-width: 50%;
    justify-self: end;
  }

  .middle-section {
    grid-column: auto;
    grid-row: 2;
  }
}