/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --contrast-color: #000028;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-text-color: #F1B2CE;
  --header-bg-image: url('../images/cover-image-dark.png');
  --indent: 10px;
  --main-indent: 40px;
  --main-gap: 50px;
  --main-section-gap: 20px;
}

@media (width >= 768px) {
  :root {
    --indent: 20px;
    --main-gap: 60px;
  }
}

@media (width >= 1024px) {
  :root {
    --indent: 20px;
    --main-gap: 60px;
    --title-font-size: 157px;
    --header-description-margin: 114px;
  }
}